<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <!-- Embed CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="../assets/css/reset.css" />

        <!-- Favicon CSS -->
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="../assets/favicon/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="../assets/favicon/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="../assets/favicon/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="../assets/favicon/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="../assets/favicon/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="../assets/favicon/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="../assets/favicon/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="../assets/favicon/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./assets/favicon/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="../assets/favicon/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="../assets/favicon/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="./assets/favicon/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="./assets/ms-icon-144x144.png"
        />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-- Shop Page css -->
        <link rel="stylesheet" href="../assets/css/BlogPage.css" />
    </head>
    <body>
        <!-- Header -->
        <header class="header fixed">
            <div class="container">
                <div class="header__bar">Free Shipping on Orders Over $50</div>
                <div class="header__inner">
                    <a href="">
                        <img
                            src="../assets/img/logo.png"
                            alt=""
                            class="header__logo"
                        />
                    </a>
                    <nav class="navbar">
                        <ul class="navbar__list">
                            <li class="navbar__item">
                                <a href="../index.html" class="navbar__link">
                                    Home
                                </a>
                            </li>
                            <li class="navbar__item">
                                <a
                                    href="./component/ShopPage.html"
                                    class="navbar__link"
                                    >Shop</a
                                >
                            </li>
                            <li class="navbar__item">
                                <a href="#!" class="navbar__link">About</a>
                            </li>
                            <li class="navbar__item">
                                <a href="#!" class="navbar__link">Blog</a>
                            </li>
                            <li class="navbar__item">
                                <a href="#!" class="navbar__link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="action">
                        <div class="action__item action__search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="action__item action__user">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="action__item action__cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="blog">
                <h1 class="blog__heading">Bài viết nổi bật</h1>
                <p class="blog__desc">
                    Tổng hợp các bài viết chia sẻ về các xu hướng thời trang
                    đang hot trên thế giới
                </p>
                <div class="blog__list">
                    <div class="blog__item">
                        <div class="row blog__top">
                            <div class="blog__info">
                                <img
                                    src="../assets/img/blog-avatar-1.jpg"
                                    alt=""
                                    class="blog__avatar"
                                />
                                <p class="blog__name">Evich Tran</p>
                            </div>
                            <div class="blog__cta">
                                <i
                                    class="fa-regular fa-bookmark blog__icon"
                                ></i>
                                <i class="fa-solid fa-ellipsis blog__icon"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="blog__body">
                                <h2 class="blog__title">
                                    17 of the Best Fashion Blogs We Think Are
                                    Worth Bookmarking
                                </h2>
                                <p class="blog__content line-clamp line-3">
                                    The best fashion blogs don't just give you
                                    incredible style advice they give you
                                    inspiration. Fashion blogs engage you in
                                    interesting content and provide new ideas on
                                    the subject of fashion and the surrounding
                                    creative world. Sure, everyone wants great
                                    outfit ideas for their Pinterest boards and
                                    dream wardrobes, but fashion isn't just
                                    about looking perfect. It can be an
                                    expression of who you are and how you want
                                    to represent yourself in the world. Now, if
                                    that's a little too deep for you, fear not.
                                    Our roundup of the best fashion blogs is a
                                    mix of serious and lighthearted takes on
                                    style.
                                </p>
                            </div>
                            <figure class="blog__image">
                                <img
                                    src="../assets/img/blog-1.jpg"
                                    alt=""
                                    class="blog__img"
                                />
                            </figure>
                        </div>
                    </div>

                    <div class="blog__item">
                        <div class="row blog__top">
                            <div class="blog__info">
                                <img
                                    src="../assets/img/blog-avatar-1.jpg"
                                    alt=""
                                    class="blog__avatar"
                                />
                                <p class="blog__name">Evich Tran</p>
                            </div>
                            <div class="blog__cta">
                                <i
                                    class="fa-regular fa-bookmark blog__icon"
                                ></i>
                                <i class="fa-solid fa-ellipsis blog__icon"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="blog__body">
                                <h2 class="blog__title">
                                    17 of the Best Fashion Blogs We Think Are
                                    Worth Bookmarking
                                </h2>
                                <p class="blog__content line-clamp line-3">
                                    The best fashion blogs don't just give you
                                    incredible style advice they give you
                                    inspiration. Fashion blogs engage you in
                                    interesting content and provide new ideas on
                                    the subject of fashion and the surrounding
                                    creative world. Sure, everyone wants great
                                    outfit ideas for their Pinterest boards and
                                    dream wardrobes, but fashion isn't just
                                    about looking perfect. It can be an
                                    expression of who you are and how you want
                                    to represent yourself in the world. Now, if
                                    that's a little too deep for you, fear not.
                                    Our roundup of the best fashion blogs is a
                                    mix of serious and lighthearted takes on
                                    style.
                                </p>
                            </div>
                            <figure class="blog__image">
                                <img
                                    src="../assets/img/blog-1.jpg"
                                    alt=""
                                    class="blog__img"
                                />
                            </figure>
                        </div>
                    </div>

                    <div class="blog__item">
                        <div class="row blog__top">
                            <div class="blog__info">
                                <img
                                    src="../assets/img/blog-avatar-1.jpg"
                                    alt=""
                                    class="blog__avatar"
                                />
                                <p class="blog__name">Evich Tran</p>
                            </div>
                            <div class="blog__cta">
                                <i
                                    class="fa-regular fa-bookmark blog__icon"
                                ></i>
                                <i class="fa-solid fa-ellipsis blog__icon"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="blog__body">
                                <h2 class="blog__title">
                                    17 of the Best Fashion Blogs We Think Are
                                    Worth Bookmarking
                                </h2>
                                <p class="blog__content line-clamp line-3">
                                    The best fashion blogs don't just give you
                                    incredible style advice they give you
                                    inspiration. Fashion blogs engage you in
                                    interesting content and provide new ideas on
                                    the subject of fashion and the surrounding
                                    creative world. Sure, everyone wants great
                                    outfit ideas for their Pinterest boards and
                                    dream wardrobes, but fashion isn't just
                                    about looking perfect. It can be an
                                    expression of who you are and how you want
                                    to represent yourself in the world. Now, if
                                    that's a little too deep for you, fear not.
                                    Our roundup of the best fashion blogs is a
                                    mix of serious and lighthearted takes on
                                    style.
                                </p>
                            </div>
                            <figure class="blog__image">
                                <img
                                    src="../assets/img/blog-1.jpg"
                                    alt=""
                                    class="blog__img"
                                />
                            </figure>
                        </div>
                    </div>

                    <div class="blog__item">
                        <div class="row blog__top">
                            <div class="blog__info">
                                <img
                                    src="../assets/img/blog-avatar-1.jpg"
                                    alt=""
                                    class="blog__avatar"
                                />
                                <p class="blog__name">Evich Tran</p>
                            </div>
                            <div class="blog__cta">
                                <i
                                    class="fa-regular fa-bookmark blog__icon"
                                ></i>
                                <i class="fa-solid fa-ellipsis blog__icon"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="blog__body">
                                <h2 class="blog__title">
                                    17 of the Best Fashion Blogs We Think Are
                                    Worth Bookmarking
                                </h2>
                                <p class="blog__content line-clamp line-3">
                                    The best fashion blogs don't just give you
                                    incredible style advice they give you
                                    inspiration. Fashion blogs engage you in
                                    interesting content and provide new ideas on
                                    the subject of fashion and the surrounding
                                    creative world. Sure, everyone wants great
                                    outfit ideas for their Pinterest boards and
                                    dream wardrobes, but fashion isn't just
                                    about looking perfect. It can be an
                                    expression of who you are and how you want
                                    to represent yourself in the world. Now, if
                                    that's a little too deep for you, fear not.
                                    Our roundup of the best fashion blogs is a
                                    mix of serious and lighthearted takes on
                                    style.
                                </p>
                            </div>
                            <figure class="blog__image">
                                <img
                                    src="../assets/img/blog-1.jpg"
                                    alt=""
                                    class="blog__img"
                                />
                            </figure>
                        </div>
                    </div>
                </div>
                <p class="blog__date"></p>
            </section>
        </main>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__row">
                        <!-- column 1 -->
                        <div class="footer__column">
                            <h3 class="footer__title">CONTACT INFO</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        <i class="fa-solid fa-location-dot"></i>
                                        123, London Bridge Street, London
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        <i class="fa-solid fa-envelope"></i>
                                        support@monsa.com
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        <i class="fa-solid fa-phone"></i>
                                        (+012) 3456 789
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- column 2 -->
                        <div class="footer__column">
                            <h3 class="footer__title">COMPANY</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Home </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        About Us
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Work With Us
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Our Blog
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Terms & Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- column 3  -->
                        <div class="footer__column">
                            <h3 class="footer__title">CONTACT INFO</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Help </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Track My Order
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Men </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Women </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Shoes </a>
                                </li>
                            </ul>
                        </div>
                        <!-- column 4 -->
                        <div class="footer__column">
                            <h3 class="footer__title">INSTAGRAM</h3>
                            <figure class="footer__image">
                                <img
                                    src="../assets/img/footer-1.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-2.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-3.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-4.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-5.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-6.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="copyright__row">
                        <p class="copyright__desc">
                            Copyright © 2023 Web Design Mastery. All rights
                            reserved.
                        </p>
                        <div class="copyright__cta">
                            <input
                                type="email"
                                placeholder="ENTER YOUR EMAIL"
                                class="copyright__input"
                            />
                            <button class="btn copyright__btn">
                                SUBSCRIBE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
