<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Embed CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="../assets/css/reset.css" />

        <!-- Favicon CSS -->
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="../assets/favicon/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="../assets/favicon/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="../assets/favicon/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="../assets/favicon/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="../assets/favicon/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="../assets/favicon/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="../assets/favicon/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="../assets/favicon/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./assets/favicon/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="../assets/favicon/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="../assets/favicon/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="./assets/favicon/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="./assets/ms-icon-144x144.png"
        />
        <meta name="theme-color" content="#ffffff" />

        <!-- Font awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-- Shop Page css -->
        <link rel="stylesheet" href="../assets/css/ShopPage.css" />
        <title>Document</title>
    </head>
    <body>
        <!-- Header -->
        <header class="header fixed">
            <div class="container">
                <div class="header__bar">Free Shipping on Orders Over $50</div>
                <div class="header__inner">
                    <a href="">
                        <img
                            src="../assets/img/logo.png"
                            alt=""
                            class="header__logo"
                        />
                    </a>
                    <nav class="navbar">
                        <ul class="navbar__list">
                            <li class="navbar__item">
                                <a href="../index.html" class="navbar__link">
                                    Home
                                </a>
                            </li>
                            <li class="navbar__item">
                                <a
                                    href="../component/ShopPage.html"
                                    class="navbar__link"
                                    >Shop</a
                                >
                            </li>
                            <li class="navbar__item">
                                <a
                                    href="../component/AboutPage.html"
                                    class="navbar__link"
                                    >About</a
                                >
                            </li>
                            <li class="navbar__item">
                                <a
                                    href="../component/BlogPage.html"
                                    class="navbar__link"
                                    >Blog</a
                                >
                            </li>
                            <li class="navbar__item">
                                <a href="#!" class="navbar__link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="action">
                        <div class="action__item action__search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="action__item action__user">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="action__item action__cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="product">
                <nav class="product__navbar">
                    <div class="product__navbar-heading">Danh mục</div>
                    <a href="" class="product-navbar__link">Tất cả sản phẩm</a>
                    <ul class="product-navbar__list">
                        <li class="navbar__item">
                            <a href="#!" class="product-navbar__link"> Quần </a>
                            <ul class="navbar-style__list">
                                <li class="navbar-style__item">
                                    <a href="" class="navbar-style__link">
                                        Quần dài
                                    </a>
                                </li>
                                <li class="navbar-style__item">
                                    <a href="" class="navbar-style__link">
                                        Quần ngắn
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="product-navbar__link"> Áo </a>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="product-navbar__link"> Túi </a>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="product-navbar__link"> Giày </a>
                        </li>
                    </ul>
                </nav>
                <div class="product__body">
                    <div class="product__action">
                        <div class="product__heading">Đầm</div>
                        <div class="product__cta">
                            <div class="product__btn">
                                Kích cỡ
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div class="product__btn">
                                Màu sắc
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div class="product__btn">
                                Giá
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div class="product__btn">
                                <i class="fa-solid fa-border-all"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product__list">
                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>

                        <div class="product__item">
                            <figure>
                                <img
                                    src="../assets/img/product-1.jpg"
                                    alt=""
                                    class="product__img"
                                />
                                <p class="product-item__heading">
                                    Coral fabric belt bag
                                </p>
                                <p class="product-item__price">$75.00</p>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__row">
                        <!-- column 1 -->
                        <div class="footer__column">
                            <h3 class="footer__title">CONTACT INFO</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        <i class="fa-solid fa-location-dot"></i>
                                        123, London Bridge Street, London
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        <i class="fa-solid fa-envelope"></i>
                                        support@monsa.com
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        <i class="fa-solid fa-phone"></i>
                                        (+012) 3456 789
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- column 2 -->
                        <div class="footer__column">
                            <h3 class="footer__title">COMPANY</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Home </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        About Us
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Work With Us
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Our Blog
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Terms & Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- column 3  -->
                        <div class="footer__column">
                            <h3 class="footer__title">CONTACT INFO</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Help </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">
                                        Track My Order
                                    </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Men </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Women </a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link"> Shoes </a>
                                </li>
                            </ul>
                        </div>
                        <!-- column 4 -->
                        <div class="footer__column">
                            <h3 class="footer__title">INSTAGRAM</h3>
                            <figure class="footer__image">
                                <img
                                    src="../assets/img/footer-1.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-2.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-3.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-4.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-5.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                                <img
                                    src="../assets/img/footer-6.jpg"
                                    alt=""
                                    class="footer__img"
                                />
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="copyright__row">
                        <p class="copyright__desc">
                            Copyright © 2023 Web Design Mastery. All rights
                            reserved.
                        </p>
                        <div class="copyright__cta">
                            <input
                                type="email"
                                placeholder="ENTER YOUR EMAIL"
                                class="copyright__input"
                            />
                            <button class="btn copyright__btn">
                                SUBSCRIBE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
